.container {
  display: flex;
  justify-content: center;
  height: 97%;
}

.my-profile {
  width: 1000px;
  height: 100%;
  display: flex;
  border-radius: 5px;
  background: white;
  box-shadow: 1px 1px 10px 1px #e1e1e1;
  max-height: 100%;
  margin-top: 8px;
}

.chat-sidebar {
  width: 32%;
  max-height: 100%;
  padding-top: 15px;
  border-right: 1px solid #d8d8d8;
  position: relative;
}

.create-chat {
  padding: 5px 13px 0 15px;
  /* height: 14%; */
}

.create-chat > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6a6a6a;
}

.create-chat > div > div > .span {
  padding-left: 5px;
}

.ant-input-search {
  width: 100% !important;
}

.chat-groups {
  overflow: auto;
  max-height: 85%;
  margin-top: 5px;
}

.search-input {
  border: 1px solid #aaaaaa;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
}

.search-input input {
  border: none;
  outline: none;
  font-size: 15px;
  padding-left: 10px;
  max-width: 245px;
  width: 100%;
}

.search-input .anticon {
  padding: 6px;
  border-left: 1px solid #aaaaaa;
  color: #818181;
  cursor: pointer;
  transition: all 0.3s;
}

.search-input .anticon:hover {
  color: #414141;
}

.search-input:hover {
  border: 1px solid #339cfd;
}

.search-input:focus-within {
  border: 1px solid #339cfd;
  box-shadow: 0 0 5px #339cfd;
}

.chat-groups::-webkit-scrollbar {
  width: 3px;
}

.chat-groups::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 50px;
}

.chat-groups::-webkit-scrollbar-track {
  background: #e9e9e9;
  border-radius: 50px;
}

.chat-messages {
  width: 68%;
}

.createChat {
  transition: all 0.3s;
}

.createChat:hover {
  color: #339cfd;
}

.create {
  background: green;
  padding: 50px;
  position: absolute;
  top: 30%;
  left: 40%;
}

.search {
  outline: none;
}

.openChat {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 150px;
  font-size: 25px;
  color: #797979;
}

.openChat p {
  margin-top: 15px;
}

.error401 {
  text-align: center;
  margin-top: 250px;
}

.error401 > h1 {
  font-size: 40px;
}

.error401 > p {
  font-size: 30px;
  padding-top: 10px;
}

#menu__toggle {
  display: none;
}

.menu__btn {
  display: flex;
  align-items: center;
  left: 460px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 3;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 26px;
  height: 2px;
  background-color: #818181;
  transition: transform 0.2s;
}
.menu__btn > span::before {
  content: "";
  top: -7px;
}
.menu__btn > span::after {
  content: "";
  top: 7px;
}
.menu__box:not([not-menu]) {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  top: 65px;
  left: 0;
  width: 100%;
  max-width: 320px;
  height: 0;
  background-color: #ffffff;
  z-index: 2;
  transition: all 0.2s;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.menu__box > li {
  cursor: pointer;
  transition: background 0.2s;
}

.menu__box > li:hover {
  background: #eaf3fb;
}

.menu__item {
  line-height: 2;
  padding-left: 10px;
  color: #2b82d7;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  transition: transform 0.5s;
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
  transition: transform 0.5s;
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  transition: transform 0.3s;
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  top: 65px;
  height: 100px;
  padding: 10px 0;
}

.active:after {
  width: 50px;
  left: 33%;
}
