.loginPartner {
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid;
  padding: 15px 0;
  position: relative;
}

.settingChatGroup__btn {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 12px;
  font-size: 25px;
  transform: rotate(90deg);
  cursor: pointer;
}

.settingChatGroup__btn:hover {
  color: #2b82d7;
}

#settingChatGroup__toggle {
  display: none;
}

.settingChatGroup__box {
  visibility: hidden;
}

.settingChatGroup__box {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  top: 50px;
  right: 0;
  width: 100%;
  max-width: 150px;
  height: 0;
  background-color: #ffffff;
  z-index: 2;
  transition: all 0.3s;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.settingChatGroup__item {
  line-height: 2;
  color: #2b82d7;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
}

.settingChatGroup__box > li {
  cursor: pointer;
  transition: background 0.2s;
}

.settingChatGroup__box > li:hover {
  background: #eaf3fb;
}

#settingChatGroup__toggle:checked ~ .settingChatGroup__btn {
  color: #2b82d7;
}

#settingChatGroup__toggle:checked ~ .settingChatGroup__box {
  visibility: visible;
  top: 50px;
  height: 100px;
  padding: 10px 0;
}

.chatMessages {
  padding: 15px 0 0 30px;
  max-width: 570px;
  margin: 0 auto;
  height: 100%;
  max-height: 89%;
  position: relative;
}

.messagesBlock {
  height: 81%;
  overflow: auto;
}

.sendMessage {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.sendMessage > input {
  width: 70%;
  padding: 4px;
}

.sendMessage > button {
  width: 25%;
  padding: 6px;
  background: #3d78cd;
  color: white;
  border-radius: 1px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
}

.sendMessage > button:hover {
  background: #386db8;
}

.dialogueIsEmpty {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 100px;
  padding-right: 80px;
  font-size: 25px;
  color: #797979;
}

.dialogueIsEmpty p {
  margin-top: 15px;
}

.messagesBlock::-webkit-scrollbar {
  width: 3px;
}

.messagesBlock::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 50px;
}

.messagesBlock::-webkit-scrollbar-track {
  background: #e9e9e9;
  border-radius: 50px;
}

.smiles {
  font-size: 25px;
  padding-right: 10px;
  color: gray;
  cursor: pointer;
}

:focus {
  outline: none;
}

.smiles:hover {
  color: #1e74ff;
}

.emojiOn {
  position: absolute;
  bottom: 70px;
  left: 7px;
}

.emoji-mart-anchor {
  cursor: pointer;
}

.messageSettings {
  margin-top: 27px;
  text-transform: uppercase;
  border-top: 1px solid;
  padding-top: 27px;
  display: flex;
  justify-content: space-between;
}

.editMessage {
  display: flex;
  justify-content: space-between;
  padding: 0 35px;
}

.iconClose {
  color: grey;
  font-size: 20px;
  transition: all 0.2s;
}

.iconClose:hover {
  color: #759ee4;
}

.settings {
  color: white;
  background: #3d78cd;
  padding: 7px 15px;
  border-radius: 2px;
  font-weight: 600;
  cursor: pointer;
}

.settings:hover {
  background: #386db8;
}

.partnerWriteMessage {
  position: relative;
  display: inline;
}

.partnerWriteMessageCircles {
  position: absolute;
  bottom: 7px;
  right: -20px;
}

.partnerWriteMessageCircles > span {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #284d81;
}

.partnerWriteMessageCircles > span:nth-child(1) {
  content: "";
  right: 8px;
  animation: writeMessage 0.47s linear infinite alternate 0s;
}

.partnerWriteMessageCircles > span:nth-child(2) {
  content: "";
  right: 0;
  animation: writeMessage 0.47s linear infinite alternate 0.2s;
}

.partnerWriteMessageCircles > span:nth-child(3) {
  content: "";
  right: -8px;
  animation: writeMessage 0.47s linear infinite alternate 0.4s;
}

@keyframes writeMessage {
  0% {
    bottom: -4px;
  }
  100% {
    bottom: 1px;
  }
}