.loginPartner {
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid;
  /* padding-bottom: 15px; */
  padding: 15px 0;
}

.chatMessages {
  padding: 15px 20px 0 100px;
  height: 100%;
  max-height: 89%;
}

.messagesBlock {
  height: 89%;
  overflow: auto;
}

.sendMessage {
  margin-top: 20px;
  display: flex;
}

.sendMessage > input {
  width: 70%;
}

.sendMessage > button {
  width: 25%;
}

.dialogueIsEmpty {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 100px;
  padding-right: 80px;
  font-size: 25px;
  color: #797979;
}

.dialogueIsEmpty p {
  margin-top: 15px;
}

.messagesBlock::-webkit-scrollbar {
  width: 3px;
}

.messagesBlock::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 50px;
}

.messagesBlock::-webkit-scrollbar-track {
  background: #e9e9e9;
  border-radius: 50px;
}

.smiles {
  font-size: 20px;
  padding-right: 10px;
  color: gray;
  cursor: pointer;
}

.sendMessage > span .sendMessage > span > svg .anticon .anticon-smile .smiles {
  border: 1px solid red ;
}

:focus {
  outline: none;
}

.smiles:hover {
  color: #1e74ff;
}

.emojiOn {
  position: absolute;
  bottom: 65px;
  right: 570px;
}

.emoji-mart-anchor {
  cursor: pointer;
}

